/* ORIENTADORES */

#orientadores{
    background:#0b1a2d;
}

/* BOTÃO INTEGRA */

.integra-btn{
    display:inline-block;

    margin-top:16px;
    padding:10px 18px;

    background:#1d4ed8;
    color:white;

    text-decoration:none;
    border-radius:10px;

    font-size:.9rem;
    font-weight:600;

    transition:.3s;
}

.integra-btn:hover{
    background:#2563eb;
    transform:translateY(-2px);
    box-shadow:0 0 18px rgba(37,99,235,.25);
}